ion-title {
  text-align: center;
}

ion-grid {
  height: 100%;
}

ion-row.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5%;
}

ion-img.goose {
  height: 100%;
}

ion-col.img {
  height: 100%;
}
